@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Noto Sans KR", sans-serif;
  overflow-x: hidden;
  @apply min-w-[750px] bg-white;
}
.react-markdown a {
  color: royalblue;
}
.post-content p {
  @apply text-xl font-medium;
}
.post-content .block-quote p {
  @apply border-l-4 pl-4 text-2xl font-bold text-gray-400;
}
.post-content h6 {
  @apply text-lg font-medium;
}
.post-content h5 {
  @apply text-xl font-medium;
}
.post-content h4 {
  @apply text-2xl font-medium;
}
.post-content h3 {
  @apply text-3xl font-medium;
}
.post-content h2 {
  @apply text-4xl font-medium;
}
.post-content h1 {
  @apply text-5xl font-medium;
}
.post-content ul {
  @apply list-disc text-xl font-semibold;
}
.post-content ol {
  @apply list-decimal text-xl font-semibold;
}

/* .text-editor p {
  @apply text-xl font-bold;
} */
