@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Noto Sans KR", sans-serif;
  overflow-x: hidden;
  @apply min-w-[750px] bg-white;
}
.react-markdown a {
  color: royalblue;
}
.apexcharts-toolbar {
  z-index: 0 !important;
}
.post-content main {
  margin: 0 !important;
  border-radius: 0 !important;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}
.post-content strong {
  @apply rounded-sm bg-[#ff7675] px-1 text-white;
}
.post-content p {
  @apply my-4 text-xl font-medium;
}
.post-content .block-quote p {
  @apply border-l-4 pl-4 text-2xl font-bold text-gray-400;
}
.post-content h6 {
  @apply my-4 text-lg font-bold;
}
.post-content h5 {
  @apply my-4 text-xl font-bold;
}
.post-content h4 {
  @apply my-4 text-2xl font-bold;
}
.post-content h3 {
  @apply my-4 text-3xl font-bold;
}
.post-content h2 {
  @apply my-4 text-4xl font-bold;
}
.post-content h1 {
  @apply my-4 text-5xl font-bold;
}
.post-content ul {
  @apply list-disc text-xl font-semibold;
}
.post-content ol {
  @apply list-decimal text-xl font-semibold;
}

/* .text-editor p {
  @apply text-xl font-bold;
} */
